@media only screen and (min-width: 801px){

.projects-cards {
	margin: 0;
	padding: 25px;
	grid-template-columns: repeat(2, var(--cards-width));
}

.projects-cards .card {
	font-size: 1.375rem;
}

.page-footer .links-list {
	grid-template-columns: repeat(3, 1fr);
	font-size: 1.2rem;
}

}
