img.knowledge-technolog-image {
	border-radius: 25%;
}

section.images-chain {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

section.images-chain >
img {
	margin: 2px;
	padding: 2px;
	max-width: 100px;
	max-height: 100px;
}

img.know-tech {
	width: 10vw;
	border: 5px solid black;
}
