:root {
	--color-body-bg:        #fff;
	--color-body-text-font: #000;
	--color-foo-one:        #333;
	--color-foo-two:        #666;
	--color-foo-thr:        #999;
}

@media (prefers-color-scheme: dark){
	:root {
		--color-body-bg:        #000;
		--color-body-text-font: #fff;
		--color-foo-one:        #333;
		--color-foo-two:        #666;
		--color-foo-thr:        #999;
	}
}
