:root {
	--bg-color:   #fff;
	--font-color: #000;
	--foo-one:    #333;
	--foo-two:    #666;
	--foo-thr:    #999;
}

@media (prefers-color-scheme: dark){
	:root {
		--bg-color:   #000;
		--font-color: #fff;
		--foo-one:    #333;
		--foo-two:    #666;
		--foo-thr:    #999;
	}
}
