.no-style-list {
	list-style-type: none;
}

.circle-radius {
	overflow: hidden;
	border-radius: 50%;
	border: 1px solid black;
	flex: none;
	box-shadow:
		 1px -1px white, /* top-left */
		-1px -1px white, /* top-right */
		 1px  1px white, /* bottom-right */
		-1px  1px white; /* bottom-left */
}

.small--hover-up-scale:hover,
.medium--hover-up-scale:hover,
.big--hover-up-scale:hover {
	cursor: pointer;
}

.small--hover-up-scale:hover  { transform: scale(1.1); }
.medium--hover-up-scale:hover { transform: scale(1.03); }
.big--hover-up-scale:hover    { transform: scale(1.015); }

.border-r-based-vw {
	border-radius: max(5vw, 16px);
}

.title-description-container {
	display: flex;
	flex-direction: column;
	text-align: center;
	flex-grow: 1;
}

.title-description-container h1 {
	font-size: 0.9rem;
}

.title-description-container p {
	font-size: 0.65rem;
	margin: auto;
}

.minimum-screen-width {
	min-width: 320px;
}

.co-ta--category-title .category-title-before,
.co-ta--category-title .category-title-after {
	background-color: var(--foo-two);
	margin-top: calc(var(--generic--co--title--font-size) * 0.5625);
	height: calc(var(--generic--co--title--font-size) * 0.1875);
	margin: calc(var(--generic--category-title-span--margin-x) * 1.5) 0;
}

.co-ta--category-title .category-title-before {
	width: var(--generic--co--category-title--font-size);
	margin-right: var(--generic--category-title-span--margin-x);
}

.co-ta--category-title .category-title-title {
	font-size: var(--generic--co--category-title--font-size);
}

.co-ta--category-title .category-title-after {
	flex-grow: 1;
	margin-left: var(--generic--category-title-span--margin-x);
}

.co-ta--category-title{
	width: 100%;
	display: flex;
}
