:root{
}



/* TAGS */

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	top: 0px;
	left: 0px;
}

body{
	width: 100dvw;
	height: 100dvh;
	min-width: 180px;
	min-height: 230px;
	padding: 3.5dvh 3.5dvw 3.5dvh 3.5dvw;

	background-color: #111;
	color: #eee;
}

a {
	text-align: center;

	color: #eee;
	text-decoration: none;
}

button {
	background: none;
	border: none;
	color: inherit;
	font: inherit;
	cursor: auto;
}

dialog {
	background: none;
	position: static;
	border: none;
	width: 100%;
	color: inherit;
	font: inherit;
}



/* CLASSES */

ul.list-no-style { list-style-type: none !important; }
h1.title-font    { font-size: 1.875rem !important; }
p.paragraph-font { font-size: 1.25rem !important; }

@media only screen and (max-width: 799px){
	.only-medium-layout, .only-big-layout { display: none !important; }
}

@media only screen and (min-width: 800px) and (max-width: 1199px){
	.only-small-layout, .only-big-layout { display: none !important; }
}

@media only screen and (min-width: 1200px){
	.only-small-layout, .only-medium-layout { display: none !important; }
}
