:root{
}

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

body{
	width: 100vw;
	height: 100dvh;
	background-color: #111;
	color: #eee;
	margin: 0px;
	padding: 3.5dvh 3.5vw 3.5dvh 3.5vw;
}

a {
	color: #eee;
}
