@media only screen and (min-width: 600px) {

.co-gr-category-title {
	display: none;
}

.scrollable-content {
	display: inline-block;
	width: var(--scrollable-width);
}

.projects-cards {
	margin-top: 20px;
	grid-template-columns: 1fr;
}

.card {
	max-width: 400px;
	flex-direction: row;
	min-height: 0;
	font-size: 1.6rem;
}

.page-footer .links-list {
	grid-template-columns: repeat(2, 1fr);
	font-size: 0.9rem;
}

.co-hi-projects-cards-table-layout {
	position: fixed;
	display: inline-block;
	width: var(--co-hi-proj-cards-table-layout-width);
	height: var(--co-hi-proj-cards-table-layout-height);
	top: auto;
	left: auto;
	border-left: 1px solid var(--color-foo-thr);
}

.aside-content {
	display: flex;
	height: inherit;
}

.hi-projects-cards-swiper {
	padding: calc(var(--co-hi-proj-cards-table-layout-height) * 0.3) 0;
	margin-left: 10%;
	width: 80%;
	height: inherit;
}

.hi-projects-cards-swiper .swiper-slide {
	width: inherit;
	display: flex;
	align-items: center;
}

.hi-card {
	width: inherit;
	min-height: 112px;
	max-height: 210px;
}

@media (min-height: 382px){
	.hi-card {
		font-size: 1.3rem;
	}

	.hi-card figure {
		width: 70px;
		height: 70px;
	}

	@media (min-height: 415px) {
		.hi-card {
			font-size: 1.5rem;
		}

		.hi-card figure {
			width: 80px;
			height: 80px;
		}
	}
}

@media (max-width: calc(1025px - 1px)){
	[class^=custom-swiper-button] {
		width: 100%;
		height: 25%;
	}

	.custom-swiper-button-next {
		margin-top: calc(var(--co-hi-proj-cards-table-layout-height) * 0.75);
	}
}

/* less based height, here and below here */
@media (max-height: 375px) {
	.hi-projects-cards-swiper {
		padding: calc(var(--co-hi-proj-cards-table-layout-height) * 0.2) 0;
	}

	[class^=custom-swiper-button] {
		height: 20%;
	}

	.custom-swiper-button-next {
		margin-top: calc(var(--co-hi-proj-cards-table-layout-height) * 0.8);
	}
}

@media (max-height: 320px) {
	.hi-projects-cards-swiper {
		padding: 48px 0;
		min-height: 241px;
	}

	[class^=custom-swiper-button] {
		height: 48.2px;
	}

	.custom-swiper-button-next {
		margin-top: 192px;
	}
}

}
