.main-nav {
	width: 100%;
	height: var(--main-navbar-height);
	padding-left:  8px;
	padding-right: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	background-color: var(--color-foo-one);
	z-index: 9999;
}

.main-nav .home-image {
	width: 50px;
	height: 50px;
	flex: none;
}

.main-nav .links-list {
	display: flex;
	gap: 1rem;
	font-size: 1.5rem;
}

.main-nav .main-nav-items:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.hi-projects-cards-swiper {
	width: 100%;
	height: calc(var(--hi--projects-cards-height) + var(--hi--projects-cards-padding-block) * 2);
	overflow: hidden;
	padding-block: var(--hi--projects-cards-padding-block);
}

.hi-projects-cards-swiper .swiper-slide {
	width: 120px;
}

.hi-projects-cards-swiper [class^=swiper-button].swiper-button-disabled {
	visibility: hidden;
}

.hi-card {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 5% 2.5%;
	gap: 1rem;
	background-color: var(--color-foo-one);
}

.hi-card h1 {
	margin: auto;
	text-align: center;
	font-size: 1.2rem; /* TODO: size based itself length */
}

.hi-card figure {
	width: 63.86px;
	height: 63.86px;
	flex: none;
	margin: auto;
}

.hi-card,
.card {
	border-radius: 16px;
}

.projects-cards {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	gap: var(--projects-cards-padding);
	margin-bottom: calc(var(--projects-cards-padding) * 1.35);
}

.projects-cards > .co-projects-cards {
	width: 272px;
	margin-inline: auto;
}

.card {
	width: var(--cards-width);
	background-color: var(--color-foo-one);
	display: flex;
	flex: none;
	padding: 5%;
	gap: 5%;
	justify-content: space-between;
	font-size: 1rem;
}

.card:hover {
	cursor: pointer;
	transform: scale(1.05);
}

.card figure {
	width: 100px;
	height: 100px;
}


.page-footer {
	width: 100%;
	background-color: var(--color-foo-one);
	padding: 0.5rem;
}

.page-footer .links-list {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 0.5rem;
	font-size: 0.8rem;
}

.page-footer .title,
.page-footer .link {
	display: block;
	width: max-content;
}

.page-footer .title {
	font-size: 1em;
}

.page-footer .link {
	font-size: 0.9em;
}
