.main-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	background-color: var(--foo-one);
	z-index: 9999;
}

.main-nav,
.me--main-nav {
	width: 100%;
	height: 65px;
	padding-left:  8px;
	padding-right: 1rem;
}

nav .home-image {
	width: 50px;
	height: 50px;
	min-width: 50px;
	flex: none;
}

nav .links-list {
	display: flex;
	gap: 1rem;
	font-size: 1.5rem;
}


main {
	/*--dinamic-pcpt: 6vw;
	--min-pcpt: 19.2px;*/
	--projects-cards-padding: 19.2px; /*max(var(--dinamic-pcpt), var(--min-pcpt));*/
	--half-projects-cards-padding: 9.6px; /*max(calc(var(--dinamic-pcpt) / 2), calc(var(--min-pcpt) / 2));*/
}

/* first category title */
main .co--category-title:nth-child(1) {
	margin-top: var(--projects-cards-padding);
}

/* second category title */
main .co--category-title:nth-child(3) {
	margin-bottom: var(--projects-cards-padding);
}

main .co--category-title{
	--title-font-size: 0.8rem;
}

main .co--category-title{
	width: 100%;
}

main .category-title {
	font-size: var(--title-font-size);
	margin-left: calc(var(--title-font-size) * 1.25);
}

/*
main .category-title:not(.container)::before,
main .category-title:not(.container)::after {
	content: " ";
	position: absolute;
	background-color: var(--foo-two);
	margin-top: calc(var(--title-font-size) * 0.5625);
	height: calc(var(--title-font-size) * 0.1875);
}

main .category-title:not(.container)::before {
	left: calc(var(--title-font-size) * -1.25);
	width: calc(var(--title-font-size) * 0.9375);
}

main .category-title:not(.container)::after {
	width: 100%;

	/ based font-size of the associated element /
	margin-left: 0.25rem;
}
*/

main .horizontal-cards-chain {
	--highlight-card-width: 40vw;
	--half-highlight-card-width: calc(var(--highlight-card-width) / 2);
}

main .horizontal-cards-chain {
	height: 200px;
	margin-left: calc(50% - calc(128px / 2))
}

main .hi--projects-cards > .co-hi--projects-cards {
	width: 128px;
	height: 161.6px;
}

main .hi--projects-cards figure {
	margin: auto;
}

main .hi--projects-cards {
	height: inherit;
	display: flex;
	min-height: 200px;
	gap: var(--half-projects-cards-padding);
	padding: var(--projects-cards-padding) 0;
}

main .hi--card {
	width: inherit;
	height: inherit;
	min-width: inherit;
	max-height: inherit;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	padding: 5% 2.5%;
	gap: 1rem;
	overflow: hidden;
	background-color: var(--foo-one);
}

main .hi--card figure {
	width: 63.86px;
	height: 63.86px;
	min-width: 62px;
	min-height: 62px;
	flex: none;
}

main .hi--card h1 {
	margin: auto;
	text-align: center;
	font-size: 1.2rem; /* TODO: size based itself length */
}

main .projects-cards {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--projects-cards-padding);
	margin-bottom: var(--projects-cards-padding);
}

main .projects-cards > .co--projects-cards {
	width: 272px;
}

main .card {
	width: 100%;
	background-color: var(--foo-one);
	display: flex;
	flex: none;
	padding: 5%;
	gap: 5%;
	justify-content: space-between;
}

main .card figure {
	width: 100px;
	height: 100px;
}


.footer {
	width: 100%;
	background-color: var(--foo-one);
	padding: 0.5rem;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

footer .part {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

footer .header {
	font-size: 0.75rem;
}

footer .sub-header {
	font-size: 0.75rem;
}
