/* MAIN-SECTIONS */

section.projects-list {
	display: flex;
	flex-direction: column;
	gap: 2.25dvh;
}

section#projects {
	display: flex;
	flex-direction: column;
	gap: 2.25dvh;
	margin-bottom: 3.5dvh;
}

section#expand-projects{
	width: 100%;
	height: 50px;
	text-align: center;
	font-size: 2.5rem;

	background-color: #33af77;
	border-radius: 5vw;
}

/* HIGHLIGHT x OTHER */

div.projects-list-item {
	padding: 3.5vw;

	background-color: #33af77;
	border-radius: 5vw;
}

div.projects-list-item >
div#images {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 5vw 0px 5vw;
}

div.projects-list-item >
div#images >
div#showcase {
	flex-grow: 1;
}

div.projects-list-item >
div#images >
div#showcase >
div.showcase-container {
	display: flex;
	justify-content: space-evenly;
}

div.projects-list-item >
div#images >
div#showcase >
div#used-languages {
	font-size: 2.5rem;
}

div.projects-list-item >
div#images >
img {
	width: 20vw;
}

div.projects-list-item >
div#images >
div#showcase >
div#images >
img {
	width: 10vw;
}

div.projects-list-item >
div#text {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5dvh;
}

div.projects-list-item >
div#text >
div#links {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 0.45rem;
	width: 100%;
}

div.projects-list-item >
div#text >
div#links >
a {
	width: 100%;
	padding: 0.4rem;

	background-color: #118d55;
	border-radius: 5vw;
}

div.projects-list-item >
div#text >
div#show-hide-links {
	width: 100%;
	text-align: center;
	padding: 0.4rem;

	background-color: #118d55;
	border-radius: 5vw;
}

/* EXPAND-PROJECTS */
