@media only screen and (min-width: 480px){

.projects-cards {
	width: min-content;
	grid-template-columns: repeat(2, var(--cards-width));
	gap: var(--projects-cards-padding);
	margin-inline: auto;
}

.projects-cards > .co-cards {
	width: auto;
}

.card {
	min-height: 225px;
	margin-inline: auto;
	flex-direction: column-reverse;
	font-size: 1.25rem;
	gap: 1.25rem;
	padding: 1.25rem;
	border-radius: 22px;
}

.card figure {
	width: 90px;
	height: 90px;
	margin: auto;
}

.page-footer .links-list {
	grid-template-columns: repeat(3, 1fr);
	font-size: 1rem;
}

}
