@media only screen and (min-width: 480px){

.main-nav {
	padding-left: 12px;
	padding-right: 1.35rem;
	height: 75px;
}

nav .home-image {
	width: 60px;
	height: 60px;
}

nav .links-list {
	gap: 1.25rem;
	font-size: 1.75rem;
}

main .projects-cards {
	width: min-content;
	grid-template-columns: repeat(2, var(--cards-width));
	gap: var(--projects-cards-padding);
	margin-inline: auto;
}

main .projects-cards > .co-projects-cards {
	width: auto;
}

main .card {
	min-height: 225px;
	margin-inline: auto;
	flex-direction: column-reverse;
	font-size: 1.25rem;
	gap: 1.25rem;
	padding: 1.25rem;
	border-radius: 22px;
}

main .card figure {
	width: 90px;
	height: 90px;
	margin: auto;
}

footer .links-list {
	grid-template-columns: repeat(3, 1fr);
	font-size: 1rem;
}

}
