$layout-minimum: rem(320);

$layout-tablet: rem(600);
$layout-computer: rem(1025);

@mixin layout-min($layout){
	@if $layout == "tablet" {
		@media (min-width: $layout-tablet) { @content }
	}
	@else{ /* layout-computer */
		@media (min-width: $layout-computer) { @content }
	}
}

@mixin layout-max($layout){
	@if $layout == "mobile" {
		@media (max-width: calc($layout-tablet - $v1)) { @content }
	}
	@else { /* layout-tablet */
		@media (max-width: calc($layout-computer - $v1)) { @content }
	}
}
