$minimum: 320px;

/* "mini" is default */
$small:    480px;
$medium:   600px;
$big:      801px;
$huge:     1025px;
$infinity: 1281px;

$max-small:    $small    - 1;
$max-medium:   $medium   - 1;
$max-big:      $big      - 1;
$max-huge:     $huge     - 1;
$max-infinity: $infinity - 1;
