@mixin borders-shadow($len: $v1, $color: white){
	box-shadow:
		  $len  (-$len) $color, /* top-left */
		(-$len) (-$len) $color, /* top-right */
		  $len    $len  $color, /* bottom-right */
		(-$len)   $len  $color; /* bottom-left */
}

@mixin mirror-dim($dim, $min: null, $max: null){
	@if $dim != null {
		width:  $dim;
		height: $dim;
	}

	@if $min != null {
		min-width:  $min;
		min-height: $min;
	}

	@if $max != null {
		max-width:  $max;
		max-height: $max;
	}
}
