@mixin borders-shadow($len: 1px, $color: white){
	box-shadow:
		  $len  (-$len) $color, /* top-left */
		(-$len) (-$len) $color, /* top-right */
		  $len    $len  $color, /* bottom-right */
		(-$len)   $len  $color; /* bottom-left */
}

@mixin mirror-dim($dim){
	width: $dim;
	height: $dim;
}
