@mixin borders-shadow($len: 1px, $color: white){
	box-shadow:
		  $len  (-$len) $color, /* top-left */
		(-$len) (-$len) $color, /* top-right */
		  $len    $len  $color, /* bottom-right */
		(-$len)   $len  $color; /* bottom-left */
}

@mixin mirror-dim($dim, $min: 0, $max: none){
	width:  $dim;
	height: $dim;
	min-width:  $min;
	min-height: $min;
	max-width:  $max;
	max-height: $max;
}
