@include layout-min("table") {
	.only-at-mobile {
		display: none !important;
	}
}

@include layout-max("mobile") {
	.only-at-table,
	.only-not-at-mobile {
		display: none !important;
	}
}

@include layout-min("computer") {
	.only-at-table,
	.only-not-at-computer {
		display: none !important;
	}
}

@include layout-max("table") {
	.only-at-computer {
		display: none !important;
	}
}
