@include layout-min("tablet") {
	.only-at-mobile {
		display: none !important;
	}
}

@include layout-max("mobile") {
	.only-at-tablet,
	.only-not-at-mobile {
		display: none !important;
	}
}

@include layout-min("computer") {
	.only-at-tablet,
	.only-not-at-computer {
		display: none !important;
	}
}

@include layout-max("tablet") {
	.only-at-computer {
		display: none !important;
	}
}
