@include layout-min("table") {
	.only-at-mobile {
		display: none !important;
	}

	/*
	.only-at-mobile-v {
		visibility: hidden !important;
	}
	*/
}

@include layout-max("mobile") {
	.only-at-table {
		display: none !important;
	}

	/*
	.only-at-table-v {
		visibility: hidden !important;
	}
	*/
}

@include layout-min("computer") {
	.only-at-table {
		display: none !important;
	}

	/*
	.only-at-table-v {
		visibility: hidden !important;
	}
	*/
}

/*
@include layout-max("table") {
	.only-at-computer {
		display: none !important;
	}

	.only-at-computer-v {
		visibility: hidden !important;
	}
}
*/
