@use "sass:math";

$v1: 0.0625rem;
$v2: 0.125rem;
$v3: 0.1875rem;
$v4: 0.25rem;
$v5: 0.3125rem;
$v6: 0.375rem;
$v7: 0.4375rem;
$v8: 0.5rem;
$v9: 0.5625rem;

$v10: 0.625rem;
$v11: 0.6875rem;
$v12: 0.75rem;
$v13: 0.8075rem;
$v14: 0.875rem;
$v15: 0.9375rem;
$v16: 1rem;

@function rem($value){
	@return #{math.div($value, 16) + "rem"}
}
