dialog.dialog-background {
	position: fixed;
	width: 100vw;
	height: 100dvh;
	margin: 0px;
	padding: 7dvh 7vw 7dvh 7vw;
	z-index: 9999;
	min-width: 180px;
	min-height: 230px;

	background-color: rgba(50, 50, 50, 0.65);
	color: #eee;
}

li.know-level-low    { color: #a05; }
li.know-level-middle { color: #aa5; }
li.know-level-high   { color: #0a5; }
img.know-level-low     { border-color: #a05; }
img.know-level-middle  { border-color: #aa5; }
img.know-level-high    { border-color: #0a5; }

.top-flex {
	display: flex;
	justify-content: space-between;
}

section.know-tech-chain {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
	margin: max(3.5dvh, 1rem) 0px max(3.5dvh, 1rem) 0px;
}

section.know-tech-chain > figure.image-skeleton-loading > img { border: none !important; }

section.know-tech-chain > figure >
img {
	width: 10vw;
	margin: 2px;
	padding: 2px;
	max-width: 100px;
	max-height: 100px;

	border-radius: 25%;
	border-width: 5px;
	border-style: solid;
}



/* MAIN-SECTION */

header { margin-bottom: 2.25dvh; }

header > nav {
	padding: 2vw;

	background-color: #8855aa;
	border-radius: 5vw;
}

dialog >
section {
	width: 100%;
	height: 100%;
	border: 0.5vw solid black;
	padding: 7.85vw;
	display: flex;
	flex-direction: column;
	overflow: auto;

	background-color: #af6601;
	border-radius: 5vw;
}

dialog >
figure {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}



/* PRESENTATION */

header > nav > div#top { padding-right: 2vw; }

header > nav > div#top > figure#left >
img {
	width: 30vw;
	min-width: 54px;
	max-width: 210px;

	border-radius: 50%;
	border: 0.75vw solid black;
}

header > nav > div#top >
section#center {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: max(6.5vw, 11px);
	gap: 3.5vw;
}

header > nav > div#top > section#center > h1 { font-size: max(6vw, 12px); }

header > nav > div#top > section#right > ul > li >
button#open-know-dialog {
	padding-top: 1vw;
	font-size: max(4vw, 13px);

	padding: 1.5rem;
	margin: -1.5rem;
}

header > nav > div#top > section#center >
ul {
	display: flex;
	font-size: max(6vw, 12px);
	gap: 7.5vw;
}

header > nav >
div#bottom {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 1rem 0px 1rem 0px;
}

header > nav > div#bottom >
p {
	text-align: justify;
	max-width: 600px;
	padding: 0px 3vw 0px 3vw;
}



/* POPUP */

header > dialog#know-dialog > section >
nav {
	display: flex;
	justify-content: space-between;
}

header > dialog#know-dialog > section > nav >
h1 {
	margin: 0px;
	margin-top: -2vw;
	font-size: max(6vw, 12px);
}

header > dialog#know-dialog > section > nav >
button {
	font-size: max(4vw, 10px);

	padding: 1.5rem;
	margin: -1.5rem;
}

header > dialog#know-dialog > section >
ul#tabs {
	display: flex;
	justify-content: space-between;
	margin-top: 5dvh;
	font-size: 3vw;
}

header > dialog#know-dialog > section >
section#knowledge {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	flex-grow: 1;
	align-items: center;
	text-align: center;
	overflow: auto;
}

header > dialog#know-dialog > section > section#knowledge >
li {
	display: inline-block;
	width: 100%;
}

header > dialog#know-dialog > section > section#knowledge > li >
section {
	flex-grow: 1;
	max-height: 20dvh;
	display: flex;
	flex-direction: column;
	overflow: auto;
}

header > dialog#know-dialog > section >
ul#know-level {
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	font-size: 3.5vw;
}



/* IMAGE VIEWER */

header > dialog#viewer >
figure {
	width: 100%;
	height: 100%;
}

header > dialog#viewer > figure >
img {
	width:  min(75vw, 75dvh);
	height: min(75vw, 75dvh);
}
