/* MAIN-SECTIONS */

main > dialog >
ul {
	display: flex;
	flex-direction: column;
	gap: 2.25dvh;
}

main {
	display: flex;
	flex-direction: column;
	gap: 2.25dvh;
	padding-bottom: 3.5dvh;
}

main >
button {
	width: 100%;
	height: 50px;
	text-align: center;
	font-size: 2.5rem;

	background-color: #33af77;
}



/* HIGHLIGHT x OTHER */

main > dialog > ul >
li {
	padding: 3.5vw;

	background-color: #33af77;
}

main > dialog > ul > li >
section#visual {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 5vw 0px 5vw;
}

main > dialog > ul > li > section#visual > div { flex-grow: 1; }

main > dialog > ul > li > section#visual > div >
section {
	display: flex;
	justify-content: space-evenly;
}

main > dialog > ul > li > section#visual > div > section#used-langs { font-size: 2.5rem; }

main > dialog > ul > li > section#visual > figure >
img {
	width: 20vw;
	min-width: 36px;
}

main > dialog > ul > li > section#visual > div > section#screenshots > figure >
img {
	width: 10vw;
	min-width: 18px;
}

main > dialog > ul > li > section#visual > button { font-size: max(2.75vw, 10px); }

main > dialog > ul > li >
section#textual {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5dvh;
	margin-top: 0.5rem;
}

main > dialog > ul > li > section#textual > h1 { font-size: max(5vw, 10px); }

main > dialog > ul > li > section#textual >
div {
	display: flex;
	flex-direction: column;
	gap: 0.45rem;
	width: 100%;
}

main > dialog > ul > li > section#textual > div >
button {
	width: 100%;
	text-align: center;
	padding: 0.45rem;

	background-color: #118d55;
}

main > dialog > ul > li > section#textual > div > dialog >
ul {
	display: flex;
	flex-direction: column;
	gap: 0.45rem;
	width: 100%;
	align-items: center;
}

main > dialog > ul > li > section#textual > div > dialog > ul > li { width: 100%; }

main > dialog > ul > li > section#textual > div > dialog > ul > li >
a {
	display: flex;
	gap: 0.35rem;
	width: 100%;
	padding: 0.4rem;
	justify-content: center;

	background-color: #118d55;
}



/* EXPAND-PROJECTS */
