$color-dark:  #000;
$color-black: #444;
$color-gray:  #888;
$color-white: #ccc;
$color-shine: #fff;


.tlegacy\:font-color {
	color: $color-white;
}


.tlegacy\:link {
	color: $color-white;

	&:hover,
	&:focus-visible {
		color: $color-shine;
	}

	&:active {
		font-weight: bold;
	}

	&:focus-visible {
		outline: none;
		text-decoration: underline;
	}

	&:active,
	&:focus-visible {
		color: $color-gray;
	}
}

.tlegacy\:icon-btn {
	color: $color-white;

	&:hover:not(:active),
	&:focus-visible:not(:active) {
		color: $color-shine;
		transform: scale(1.1);
	}

	&:focus-visible {
		outline: 1px solid $color-shine;
	}

	&:active,
	&:focus-visible {
		color: $color-gray;
		outline-color: $color-gray;
	}
}
