$color-dark:      #000;
$color-black:     #222;
$color-shadow:    #444;
$color-darkgray:  #666;
$color-gray:      #797979;
$color-lightgray: #999;
$color-silver:    #bbb;
$color-white:     #ddd;
$color-shine:     #fff;

/* MULTI */

.tlegacy\:color-line-bar-0 {
	--color-line-bar: #{$color-shadow};
}

.tlegacy\:color-line-bar-1 {
	--color-line-bar: #{$color-darkgray};
}

.tlegacy\:color-line-bar-2 {
	--color-line-bar: #{$color-gray};
}

/* EXCLUSIVE */

/* simple */

/*.tlegacy\:font-color {
	color: $color-white;
}*/

.tlegacy\:bg-0 {
	background-color: $color-dark;
}

.tlegacy\:bg-1 {
	background-color: $color-black;
}

.tlegacy\:bg-2 {
	background-color: $color-shadow;
}

/* complex */

.tlegacy\:live-bg {
	outline: none;
	background-color: $color-silver;

	&:hover:not(:active),
	&:focus-visible:not(:active) {
		background-color: $color-shine;
	}
}

.tlegacy\:live-low-opacity {
	opacity: 0.15;

	&:hover,
	&:focus-visible {
		opacity: 0.375;
	}
}

.tlegacy\:link {
	color: $color-white;

	&:hover,
	&:focus-visible {
		color: $color-shine;
	}

	&:active {
		font-weight: bold;
	}

	&:focus-visible {
		outline: none;
		text-decoration: underline;
	}

	&:active,
	&:focus-visible {
		color: $color-gray;
	}
}

.tlegacy\:live-burger-btn {
	transition: background-color 0.5s ease;

	&:hover {
		color: $color-shine;
		background-color: $color-darkgray;
		transition: none;
		cursor: pointer;
	}
}

.tlegacy\:icon-btn {
	color: $color-white;

	&:hover:not(:active),
	&:focus-visible:not(:active) {
		color: $color-shine;
		transform: scale(1.1);
	}

	&:focus-visible {
		outline: 1px solid $color-shine;
	}

	&:active,
	&:focus-visible {
		color: $color-gray;
		outline-color: $color-gray;
	}
}
