.lined-title {
	font-size: 1.7rem;
	margin-block: 0.99em;
}

.manual-vert-swiper {
	max-width: rem(600);
	height: rem(216);
}

.highlight-projects-list {
	$card-width: rem(168);
	$cover-dim: calc($card-width * 0.5);
	$link-fsize: 1.45em;
	$link-bmargin: 0.25em;

	font-size: 1.2rem;

	.highlight-card {
		width: $card-width;
		grid-template-rows: $cover-dim auto calc($link-fsize + $link-bmargin * 2);
	}

	.highlight-card-cover {
		@include mirror-dim($cover-dim);
	}

	.highlight-cards-link-shortcut {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		place-items: center;
		width: 100%;
		font-size: $link-fsize;
		margin-block: $link-bmargin;
	}
}

.projects-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

	.card-dim {
		width: rem(310);
	}

}

.page-footer {
	grid-template-columns: repeat(3, 1fr);
}
