.manual-vert-swiper {
	max-width: rem(600);
	height: rem(216);
}

.highlight-projects-list {
	.highlight-card {
		width: rem(168);
	}
}

.projects-list {
	grid-template-columns: repeat(3, 1fr);
}

.page-footer {
	grid-template-columns: repeat(3, 1fr);
}
