.lined-title {
	font-size: 1.7rem;
	margin-block: 0.99em;
}

.manual-vert-swiper {
	max-width: rem(600);
	height: rem(216);
}

.highlight-projects-list {
	$card-hori-padding: rem(7.5);
	$card-width: rem(168);
	$cover-dim: calc($card-width * 0.5);
	$link-fsize: 1.45em;
	$link-height: rem(50);

	font-size: 1.2rem;

	.highlight-card {
		width: $card-width;
		padding-bottom: 0;
		grid-template-rows: $cover-dim auto $link-height;
	}

	.highlight-card-cover {
		@include mirror-dim($cover-dim);
	}

	.highlight-cards-link-shortcut {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		place-items: center;
		width: calc(100% + $card-hori-padding * 2);
		height: $link-height;
		font-size: $link-fsize;

		button,
		a {
			width: 100%;
			height: 100%;
		}
	}
}

.projects-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

	.card-dim {
		width: rem(310);
	}

}

.page-footer {
	grid-template-columns: repeat(3, 1fr);

	h1 {
		margin-bottom: 0;
	}

	h2 {
		margin-block: 0;
	}
}
