.lined-title {
	$gap: 0.4em;
	$line-radius: 0.2em;
	$left-line-width: 1em;
	$text-left: $left-line-width + $gap;

	width: 100%;
	font-size: 1.1rem;
	margin-block: 0.33em;
	overflow-x: hidden;

	h1 {
		left: $text-left;
		font-size: 1em;
		position: relative;
		display: inline-block;
	}

	h1::before,
	h1::after {
		content: "";
		margin-top: 0.45em;
		height: 0.275em;
		position: absolute;
	}

	h1::before {
		margin-left: -($text-left);
		width: $left-line-width;
		border-radius: 0 $line-radius $line-radius 0;
	}

	h1::after {
		margin-left: $gap;
		width: 100vw;
		border-radius: $line-radius 0 0 $line-radius;
	}
}

.manual-vert-swiper {
	width: 100%;
	height: rem(180);
	overflow-x: hidden;

	.swiper-slide {
		width: min-content !important;
	}

	.swiper-btn-container {
		top: 0;
		display: flex;
		width: 100%;
		height: 100%;
		justify-content: space-between;
		position: absolute;
		z-index: 9999;
	}
	
	[class^=vert-swiper-btn] {
		width: 25%;
		height: 100%;
		background: 0;
	}
}

.highlight-projects-list {
	$card-width: rem(140);
	$cover-dim: calc($card-width * 0.5);

	@include mirror-dim(100%);
	font-size: 1rem;

	.highlight-card {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: $cover-dim auto 1.3em;
		place-items: center;
		gap: rem(7.5);
		width: $card-width;
		height: 100%;
		padding: $v15 rem(7.5);
		border-radius: rem(12.5);
		overflow-x: hidden;
	}

	.highlight-card-cover {
		@include mirror-dim($cover-dim);
		flex: none;
	}

	.highlight-card-title-container {
		width: 90%;
		overflow-x: hidden;
		text-align: center;
	}

	.highlight-card-title {
		font-size: 1.421em;
	}

	.highlight-card-tech {
		display: flex;
		justify-content: space-around;
		font-size: 1.1em;
		width: 80%;
	}
}

.projects-list {
	$card-height: rem(125);

	list-style-type: none;
	display: grid;
	width: 100%;
	padding: rem(6.4) $v16 rem(19.2) $v16;
	place-items: center;
	row-gap: rem(18);

	.card-dim {
		width: auto;
		min-width: rem(288);
		max-width: rem(432);
		height: $card-height;
	}

	.card {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		border-radius: rem(12.5);
	}

	.card-text-field {
		font-size: 1rem;
		padding: 0.5em;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1.25em 1fr;
		place-items: center;
		max-height: 100%; /* TODO */

		h1 {
			font-size: 1.1em;
			margin-bottom: 5%;
		}

		p {
			height: 100%;
			font-size: 0.75em;
			width: 100%;
			overflow-y: auto;
			display: block;
		}
	}

	.card-cover {
		@include mirror-dim(rem(75));
		margin-inline: $v10;
		flex: none;
	}
}

$line-fix-len: rem(2.75);
@function line-dyn-len($v) { @return calc(var(#{$v}) * 0.8) }
@function line-dmargin($v) { @return calc(var(#{$v}) * 0.1) }

.vert-line,
.hori-line {
	flex: none;
	border-radius: $v15;
}

.hori-line {
	--parent-width: 0;

	width: line-dyn-len("--parent-width");
	height: var(--line-height, $line-fix-len);
	margin-inline: line-dmargin("--parent-width");
}

.vert-line {
	--parent-height: 0;

	width: var(--line-width, $line-fix-len);
	height: line-dyn-len("--parent-height");
	margin-block: line-dmargin("--parent-height");
}

.page-footer {
	display: grid;
	width: 100%;
	font-size: 1rem;
	padding: 0.3em 0.4em 0.4em 0.525em;

	.footer-cell {
		display: flex;
		flex-direction: column;
		gap: 0.1725em;
		margin-block: 0.475em;
		list-style-type: none;
		text-align: center;
	}

	h1 {
		font-size: 1em;
		margin-bottom: 0.25em;
	}

	h2 {
		font-size: 0.8em;
	}

	a {
		text-decoration: none;
		color: inherit;

		&:hover {
			text-decoration: underline;
			cursor: pointer;
		}
	}
}
