section#popup {
	background-color: rgba(50, 50, 50, 0.6);
	color: #eee;
}

section#popup >
div#container {
	background-color: #af6601;
	border-radius: 5vw;
}

section#popup >
div#container >
div#know-level >
span#low {
	color: #a05;
}

section#popup >
div#container >
div#know-level >
span#middle {
	color: #aa5;
}

section#popup >
div#container >
div#know-level >
span#high {
	color: #0a5;
}
