section#header >
section#show-more {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100dvh;
	margin: 0px;
	padding: 7dvh 7vw 7dvh 7vw;
	box-sizing: border-box;
}

section#header >
section#show-more >
div#popup {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	border: 0.5vw solid black;
	padding: 7.85vw;
	display: flex;
	flex-direction: column;
}

section#header >
section#show-more >
div#popup >
div#top {
	display: flex;
	justify-content: space-between;
}

section#header >
section#show-more >
div#popup >
div#top >
h1#title {
	margin: 0px;
	margin-top: -2vw;
	font-size: 6vw;
}

section#header >
section#show-more >
div#popup >
div#top >
i {
	font-size: 4vw;
}

section#header >
section#show-more >
div#popup >
div#knowledge-level {
	display: flex;
	justify-content: space-between;
	margin: 3dvh 0px 3dvh 0px;
}

section#header >
section#show-more >
div#popup >
div#knowledge {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	flex-grow: 1;
	align-items: center;
}

section#header >
section#show-more >
div#popup >
div#knowledge >
div {
	flex-grow: 1;
	max-height: 20dvh;
	display: flex;
	flex-direction: column;
}

section#header >
section#show-more >
div#popup >
div#knowledge >
div >
div {
	flex-grow: 1;
	overflow: auto;
}

section#header >
section#show-more >
div#popup >
div#knowledge >
div >
h1 {
	text-align: center;
	margin: 0px 0px 0.1rem 0px;
}

section#header >
section#show-more >
div#popup >
div#knowledge >
div >
div >
section.images-chain {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

section#header >
section#show-more >
div#popup >
div#knowledge >
div >
div >
section.images-chain >
img {
	margin: 2px;
	padding: 2px;
	max-width: 100px;
	max-height: 100px;
}

img.knowledge-technolog-image {
	width: 10vw;
	border: 5px solid black;
}
