section#popup {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100dvh;
	margin: 0px;
	padding: 7dvh 7vw 7dvh 7vw;
	box-sizing: border-box;
}

section#popup >
div#container {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	border: 0.5vw solid black;
	padding: 7.85vw;
	display: flex;
	flex-direction: column;
}

section#popup >
div#container >
div#header {
	display: flex;
	justify-content: space-between;
}

section#popup >
div#container >
div#header >
h1#title {
	margin: 0px;
	margin-top: -2vw;
	font-size: 6vw;
}

section#popup >
div#container >
div#header >
i {
	font-size: 4vw;
}

section#popup >
div#container >
div#know-level {
	display: flex;
	justify-content: space-between;
	margin: 3dvh 0px 3dvh 0px;
}

section#popup >
div#container >
div#knowledge {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	flex-grow: 1;
	align-items: center;
}

section#popup >
div#container >
div#knowledge >
div {
	flex-grow: 1;
	max-height: 20dvh;
	display: flex;
	flex-direction: column;
}

section#popup >
div#container >
div#knowledge >
div >
div {
	flex-grow: 1;
	overflow: auto;
}

section#popup >
div#container >
div#knowledge >
div >
h1 {
	text-align: center;
	margin: 0px 0px 0.1rem 0px;
}
