section#presentation {
	padding: 2vw;
}

section#presentation >
div#header {
	display: flex;
	justify-content: space-between;
	padding-right: 2vw;
}

section#presentation >
div#header >
div#title-links {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 6.5vw;
	gap: 3.5vw;
}

section#presentation >
div#header >
div#title-links >
div {
	display: flex;
	font-size: 6vw;
	gap: 7.5vw;
}

section#presentation >
div#header >
div#title-links >
h1 {
	font-size: 6vw;
	margin: 0px;
}

section#presentation >
div#header >
img#perfil-image {
	width: 30vw;
	max-width: 210px;
}

section#presentation >
div#description {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 1rem 0px 1rem 0px;
}

section#presentation >
div#description >
p {
	text-align: justify;
	max-width: 600px;
	padding: 0px 3vw 0px 3vw;
}

section#presentation >
div#header >
div#open-popup {
	padding-top: 1vw;
}

section#presentation >
div#header >
div#open-popup >
i {
	font-size: 4vw;
}
