section#header >
section#welcome {
	padding: 2vw;
}

section#header >
section#welcome >
div#top {
	display: flex;
	justify-content: space-between;
	padding-right: 2vw;
}

section#header >
section#welcome >
div#top >
div#center {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 6.5vw;
	gap: 3.5vw;
}

section#header >
section#welcome >
div#top >
div#center >
div#links {
	display: flex;
	font-size: 6vw;
	gap: 7.5vw;
}

section#header >
section#welcome >
div#top >
div#center >
h1#title {
	font-size: 6vw;
	margin: 0px;
}

section#header >
section#welcome >
div#top >
img#perfil-image {
	width: 30vw;
	border: 0.75vw solid black;
	max-width: 210px;
}

section#header >
section#welcome >
div#description {
	display: flex;
	flex-direction: column;
	align-items: center;
}

section#header >
section#welcome >
div#description >
p#description {
	text-align: justify;
	max-width: 600px;
	padding: 0px 3vw 0px 3vw;
}

section#header >
section#welcome >
div#top >
div#show-more {
	padding-top: 1vw;
}

section#header >
section#welcome >
div#top >
div#show-more >
i#show-more {
	font-size: 4vw;
}
