/* import as "kit" */

@mixin double-border($bcolor: black, $scolor: white, $blen: 1px,  $slen: 1px)
{
	/* b : Border | s : Shadow */
	border: $blen solid $bcolor;
	box-shadow:
		 (-$slen) (-$slen) white,
		 (-$slen)  ($slen) white,
		  ($slen) (-$slen) white,
		  ($slen)  ($slen) white;
}

@mixin padding-gap($value)
{
	padding: $value;
	gap: $value;
}

@mixin dimensions($value)
{
	width: $value;
	height: $value;
}
