@use "responsive-media-queries" as only;
@use "style-kits" as kit;

/*
#CB3837 npm
#181717 github
#FC6D26 gitlab
#2496ED docker
#FA5C5C itch.io
#41A6F6 tic80
*/

$color-l0: #1f1f1f;
$color-l1: #303030;
$color-l2: #444;
$color-l3: #5d5d5d;

.home-body
{
	width: 100vw;
	display: flex;
	flex-direction: column;
	background-color: #1f1f1f;
	@include kit.padding-gap(1em);
}

.card
{
	background-color: $color-l1;
	border-radius: 1.5em;
	padding: 1em;
}

.card-icon
{
	@include dimensions(5em);
	flex: none;
}

.main-card-image
{
	@extend .card-icon;
	border-radius: 1.5em;
	overflow: hidden;
	@include kit.double-border();
}

.card-content
{
	display: flex;
	margin: auto;
	width: min-content;
	@include kit.padding-gap(1em);
}

.card-options
{
	display: flex;
	font-size: 1.5em;
	gap: 0.5em;
	align-items: center;
}

.perfil-miscellaneous-container
{
	display: flex;
	flex-direction: column;
	width: min-content;
}

.perfil-welcome-phrase
{
	font-size: 1.5em;
	margin-top: auto;
	white-space: nowrap;
	position: relative;
	margin-bottom: 0.25em;
}

.perfil-details-manager
{
	width: 100%;
	height: 1.5em;
	text-align: center;
}

/* Mixin: PlaceHolder */
@mixin mph\:ball-button()
{
	@include kit.dimensions(1.5em);
	text-align: center;
	border-radius: 50%;
	background-color: $color-l2;
}

.ball-button
{
	@include mph\:ball-button();
}

.perfil-ball-button
{
	@extend .ball-button;

	@include only.mobile
	{
		&
		{
			width: 3em;
			border-radius: 1em;
		}
	}
}

.details-ball-button
{
	@include only.mobile
	{
		&
		{
			width: 1.5em;
		}
	}

	@include only.tablet
	{
		&
		{
			@include mph\:ball-button();
		}
	}
}

.card-details
{
	margin-top: 1em;
}

.links-list
{
	width: 75%;
	margin-top: 1em;
	margin-inline: auto;
	display: flex;
	gap: 0.75em;
	flex-direction: column;
}

.links-list-item
{
	padding: 0.25em;
	border-radius: 0.5em;
	background-color: $color-l2;
	display: flex;
	justify-content: space-between;
}

.links-list-description
{
	@include only.mobile
	{
		font-size: 0.75em;
		font-weight: bold;
	}

	@include only.no-mobile
	{
		display: none;
	}
}

.links-list-button
{
	flex-grow: 1;
	width: 100%;
}

.links-list-url-copier
{
	width: 1.5em;
	text-align: center;
}

.card-details-title
{
	font-size: 1em;
	margin-top: 1em;
	margin-bottom: 0.5em;
	text-align: center;
}

.card-details-related
{
	.card-details
	{
		margin-top: 0;
	}

	.links-list-item
	{
		button
		{
			color: #888;
		}
	}
}
