/* SUPER-GENERIC: they can be replaced */

* {
	padding: 0;
	margin: 0;
	border: none;
	font-family: arial, open-sans, sans-serif, serif, auto;
	box-sizing: border-box;
}

.no-std-style {
	text-decoration: none;
	list-style-type: none;
	background: none;
	border: none;
	color: inherit;
	font: inherit;
	cursor: auto;
}

/* IMPORTANT: they cannot be replaced */

.title-fsize {
	font-size: 1.75rem !important;
}

.subtitle-fsize {
	font-size: 1.4rem !important;
}

.flex {
	display: flex !important;
}

.rev-flex {
	display: flex !important;
	flex-direction: row-reverse;
}

.inline {
	display: inline !important;
}

.grid {
	--grid-rows: 1;
	--grid-columns: 1;
	display: grid !important;
	grid-template-columns: repeat(var(--grid-columns), 1fr);
	grid-template-rows: repeat(var(--grid-rows), 1fr);
}

.rev-grid {
	@extend .grid;
	direction: rtl;
}

.flex-col {
	display: flex !important;
	flex-direction: column;
}

.h-max-content {
	height: max-content !important;
}

.set-height {
	--height: 0;
	height: var(--height) !important;
}

/* SINGLE RULE: include single function based */

.min-screen {
	min-width: $layout-minimum;
}

.relative-pos {
	position: relative;
}

.fixed-pos {
	position: fixed;
}

.inflexible {
	flex: none;
}

.children-on-center {
	place-items: center;
}

.text-on-center {
	text-align: center;
}

.inherit-cursor {
	cursor: inherit;
}

/*
.scroll-x {
	overflow-x: auto;
}
*/

.scroll-y {
	overflow-y: auto;
}

.move-to-forward {
	z-index: 9999;
}

.inherit-width {
	width: 100%;
}

.inherit-height {
	height: 100%;
}

.vw-100 {
	width: 100%;
}

.gap-one-h-fifty-rem,
.fsize-one-h-fifty-rem {
	gap: 1.5rem;
}

.enable-events {
	pointer-events: all;
}

.disable-events {
	pointer-events: none;
}

/* PSEUDO-X BASED: hover, after, webkit, ... */

.hover-grow:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.active-shrink:active {
	cursor: pointer;
	transform: scale(0.9);
}

.hover-pointer:hover {
	cursor: pointer;
}

/* .scroll-x, */
.scroll-y {
	@supports selector(::-webkit-scrollbar){
		&::-webkit-scrollbar-track-piece,
		&::-webkit-scrollbar-track,
		&::-webkit-scrollbar-button,
		&::-webkit-scrollbar-corner {
			display: none;
		}

		&::-webkit-scrollbar {
			width: $v4;
			height: $v4;
		}

		&::-webkit-scrollbar-thumb {
			background-color: #999;
			border-radius: $v10;
		}
	}

	@supports not selector(::-webkit-scrollbar) {
		& {
			scrollbar-width: thin;
		}
	}
}

/* CONTAINER: only for elements that contain no-text elements */

.main-container {
	color: #dedede;
}

.vert-gap {
	padding: 0.5rem 0;
	gap: 0.5rem 0;
}

.backdrop {
	--bg-color: black;
	/*background-color: var(--bg-color);*/
	opacity: 0.5;
}

.topbar {
	--font-size: 1rem;

	display: flex;
	justify-content: space-between;
	font-size: var(--font-size);

	.topbar-item {
		font-size: 1.5em;
	}
}

.set-pair-padding {
	--padding-inline: 0;
	--padding-block: 0;

	padding-inline: var(--padding-inline);
	padding-block: var(--padding-block);
}

/* OTHER: they are too specific */

.screen-dim {
	width: 100vw;
	height: 100dvh;
}

.abs-0x0 {
	top: 0;
	left: 0;
	position: absolute;
}

.sticky-0x0 {
	top: 0;
	left: 0;
	position: sticky;
}

.circle-radius {
	border-radius: 50%;
	overflow: hidden;
}

.double-board {
	border: $v1 solid black;
	@include borders-shadow($v1);
}

.inherit-dim {
	display: block;
	@include mirror-dim(100%, 100%, 100%);
}

.pixelated { /* some browsers do not support some values */
	-ms-interpolation-mode: nearest-neighbor;
	image-rendering: crisp-edges;
	image-rendering: pixelated;
}
