/* SUPER-GENERIC: they can be replaced */

/* IMPORTANT: they cannot be replaced */

.tb\:relative-pos {
	position: relative !important;
}

.tb\:block-dis {
	display: block !important;
}

.tb\:set-left {
	--tb-left: 0;
	left: var(--tb-left) !important;
}

.tb\:set-width {
	--tb-width: 0;
	width: var(--tb-width) !important;
}

.tb\:set-height {
	--tb-height: 0;
	height: var(--tb-height) !important;
}

.tb\:always-visible {
	visibility: visible !important;
}

.grid {
	--tb-grid-rows: 1;
	--tb-grid-columns: 1;
	display: grid !important;
	grid-template-columns: repeat(var(--tb-grid-columns), 1fr);
	grid-template-rows: repeat(var(--tb-grid-rows), 1fr);
}

/* SINGLE RULE: include single function based */

.tb\:no-min-dim {
	@include mirror-dim(null, 0);
}

.tb\:text-on-center {
	text-align: center;
}

.tb\:move-to-forward {
	z-index: 9999;
}

.tb\:vw100 {
	width: 100vw;
}

.tb\:sticky-pos {
	position: sticky;
}

/* PSEUDO-X BASED: hover, after, webkit, ... */

/* CONTAINER: only for elements that contain no-text elements */

.tb\:abs-0x0 {
	top: 0;
	left: 0;
	position: absolute;
}

/* OTHER: they are too specific */

.tb\:set-single-padding {
	--tb-padding-top:    0;
	--tb-padding-right:  0;
	--tb-padding-bottom: 0;
	--tb-padding-left:   0;

	padding:
		var(--tb-padding-top)
		var(--tb-padding-right)
		var(--tb-padding-bottom)
		var(--tb-padding-left);
}

.tb\:inherit-dim {
	display: block;
	@include mirror-dim(100%, 100%, 100%);
}
