/* html and generic first */

body {
	--main-navbar-height: 65px;
	--main-navbar-font-size: 1.5rem;
}

.co-gr-category-title {
	--category-title-font-size: 0.8rem;
	--category-title-margin-inline: 0.25rem;
}

.hi-projects-cards {
	--hi--projects-cards-padding-block: 20px;
	--hi--projects-cards-height: 155px;
}

.projects-cards {
	--cards-width: 100%;
	--projects-cards-padding: 19.2px;
}

@media only screen and (min-width: 480px) {
	body {
		--main-navbar-height: 75px;
		--main-navbar-font-size: 1.75rem;
	}

	.co-gr-category-title {
		--category-title-font-size: 1rem;
		--category-title-margin-inline: 0.32rem;
	}

	.projects-cards {
		--cards-width: 180px;
	}
}

@media only screen and (min-width: 600px) {
	body {
		--main-navbar-height: 80px;
		--main-navbar-font-size: 2rem;
	}

	.scrollable-content {
		--scrollable-width: calc(100vw - var(--co-hi-proj-cards-table-layout-width));
	}

	.page-content {
		--co-hi-proj-cards-table-layout-width: 200px;
	}

	.projects-cards {
		--cards-width: calc(var(--scrollable-width) - 30px);
	}

	.co-hi-projects-cards-table-layout {
		--co-hi-proj-cards-table-layout-height: calc(100dvh - var(--main-navbar-height));
	}
}

@media only screen and (min-width: 801px){
	body {
		--main-navbar-height: 85px;
		--main-navbar-font-size: 2.25rem;
	}

	.page-content {
		--co-hi-proj-cards-table-layout-width: 250px;
	}

	.projects-cards {
		/* NOTE:
		*  this "calc(var(--cards-width) * 0.475)" breaks the layout,
		*  because if the screen size descrease from a bigger than
		*  "big", the value of `--cards-width` possibly will be
		*  different.
		*/
		--cards-width: calc((var(--scrollable-width) - 30px) * 0.475);
	}
}

@media only screen and (min-width: 801px){
	body {
		--main-navbar-height: 100px;
		--main-navbar-font-size: 2.5rem;
	}

	.co-gr-category-title {
		--category-title-font-size: 1.75rem;
		--category-title-margin-inline: 0.675rem;
	}

	.hi-projects-cards {
		--hi--projects-cards-padding-block: 35px;
		--hi--projects-cards-height: 240px;
	}
}
